@keyframes fadeinall {
        0% {
        opacity: 1; }
        97% {
        opacity: 0; }
        98% {
                opacity: 0;
                -webkit-transform: translateY(0);
        transform: translateY(0); }
        99% {
                opacity: 0;
                -webkit-transform: translateY(-100%);
        transform: translateY(-100%); }
        100% {
                opacity: 0;
                z-index: -1; 
        } 
}
#fadein {
        opacity: 1;
        position: fixed;
        width: 100%;
        height: 100%;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        background-color: #333;
        z-index: 999;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation: fadeinall 1s normal both;
        animation: fadeinall 1s normal both;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
}

[data-theme=dark] {
        --background-color: #11191f;
}


.dark-mode {
        background-color: white;
        color: black;
}

.site-wrapper {
        min-height:100vh;
        padding:3vw
}

#blink {
        --primary: #757575;
}
.title-container {
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
}
.site-title {
        background-color: #11191f;

        border-radius: 25px;

        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 2rem;

        align: center;
        height: 3%;
}
.site-title:after {
        content:"";
        background:repeating-linear-gradient(90deg,#ffa86a,#ffa86a 2px,transparent 0,transparent 10px);
        background:repeating-linear-gradient(90deg,var(--accent),var(--accent) 2px,transparent 0,transparent 10px);
        display:block;
        width:100%;
        right:10px
}
.site-scrolldown {
        animation:blink-animation .9s infinite;
        -webkit-animation:blink-animation .9s infinite;
        -moz-animation:blink-animation .9s infinite;
        -o-animation:blink-animation .9s infinite;
        display:none
}

.site-head {
}
.site-head-half{
        flex:1 1 20%;
        max-width:20%
}


/* Body */


/* Extra */
#phone-hide {
        visibility: hidden;
}
@media only screen and (min-width: 850px) {
        #phone-hide {
                visibility: visible;
        }
        .site-title {

        }
        .site-wrapper {
                padding:6vw
        }
}

/*.side {
/*        color: #fff;
/*        height: 100%;   /* Full-height: remove this if you want "auto" height */
/*        width: 10em;   /* Set the width of the sidebar */
/*        position: fixed;/* Fixed Sidebar (stay in place on scroll) */
/*        z-index: 1;     /* Stay on top */
/*        top: 0;         /* Stay at the top */
/*        left: 0;
/*        background-color: #222; /* Black */
/*        overflow-x: hidden;     /* Disable horizontal scroll */
/*        padding-top: 20px;
} */
